<section>
    <div>
        <div class="blog-header">
            <p class="invisible">{{blog.id}}</p>
            <h3>{{blog.title}}</h3>
            <h4 class="right">{{blog.username}}</h4>
            <p class="time">{{blog.timestamp}}</p> 
        </div>
        <p class="content">{{blog.content}}</p>

        <div class="line"></div>
        <h5 class="padding">Comments</h5>

        {{#each blog.comments}}
        {{> comment}}
        {{/each}}

        <div id="new-comment" class="comment">
            <p id="new-time" class="time"></p>
            <div class="flex">
                <h6>{{username}}</h6>
                <p id="new-content" class="content"></p>
            </div>
        </div>

        <form id="comment-form">
            <p id="message3"></p>
            <div class="comment-form">
                <textarea class="comment-textarea" type="text" id="user-comment" placeholder="Write a comment here" required/></textarea>
            </div>
            <div class="comment-form flex right">
                <button class="comment-button" type="submit">Reply</button>
            </div>
        </form>
    </div>
</section>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.0.0-alpha0/date_fns.js" integrity="sha512-EU2b7yz3VY5AnwdmaBFaga05r7fP3L8tzmw1HyVKgPgua+a98xiYb3UQH4pPIK/hj1QdU2xhOQt6Cgg4O4fO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer type="module" src="/js/blog.js"></script>